
[Unit]
Description = Devstack devstack@n-api-meta.service

[Service]
RestartForceExitStatus = 100
NotifyAccess = all
Restart = always
KillMode = process
Type = notify
ExecReload = /usr/bin/kill -HUP $MAINPID
ExecStart = /bin/uwsgi --procname-prefix nova-api-meta --ini /etc/nova/nova-metadata-uwsgi.ini
User = stack
SyslogIdentifier = devstack@n-api-meta.service

[Install]
WantedBy = multi-user.target
