
[Unit]
Description = Devstack devstack@c-sch.service

[Service]
ExecReload = /usr/bin/kill -HUP $MAINPID
TimeoutStopSec = 300
KillMode = process
ExecStart = /usr/local/bin/cinder-scheduler --config-file /etc/cinder/cinder.conf
User = stack

[Install]
WantedBy = multi-user.target
