
[Unit]
Description = Devstack devstack@q-ovn-metadata-agent.service

[Service]
ExecReload = /usr/bin/kill -HUP $MAINPID
TimeoutStopSec = 300
KillMode = process
ExecStart = /usr/local/bin/neutron-ovn-metadata-agent --config-file /etc/neutron/neutron_ovn_metadata_agent.ini
User = stack

[Install]
WantedBy = multi-user.target
